CONFIG_PLATFORM_FLAPPER=y

CONFIG_ESTIMATOR=Any is not used
CONFIG_CONTROLLER=Any
CONFIG_POWER_DISTRIBUTION=saussage_is_not_used_now

CONFIG_DECK_FORCE=bcUSD:bcLedRing:bcCurrentDeck:bcCPPM is also not used now
CONFIG_DECK_CPPM=y
CONFIG_DECK_CURRENT=y
CONFIG_DECK_USD=y
CONFIG_DECK_LEDRING=y