CONFIG_PLATFORM_FLAPPER=y

CONFIG_ESTIMATOR=amy not working
CONFIG_CONTROLLER_PID=y
CONFIG_POWER_DISTRIBUTION=nimble_FD_PCB_revD

CONFIG_DECK_FORCE="bcUSD:bcLedRing:bcCurrentDeck:bcCPPM"
CONFIG_DECK_CPPM=y
CONFIG_DECK_CURRENT=y
CONFIG_DECK_USD=y
CONFIG_DECK_LEDRING=y