CONFIG_PLATFORM_FLAPPER=y

CONFIG_ESTIMATOR_ANY=y
CONFIG_CONTROLLER_PID=y

CONFIG_DECK_FORCE="bcUSD:bcLedRing:bcCurrentDeck:bcCPPM"
CONFIG_DECK_CPPM=y
CONFIG_DECK_CURRENT=y
CONFIG_DECK_USD=y
CONFIG_DECK_LEDRING=y

CONFIG_DECK_CPPM_USE_PA3=y